@use "../../styles/mixin" as *;

.homeWrapper {
  @include Flex(row, stretch, stretch);
  height: 100vh;
  background-color: #0b141a;
  color: #e9edef;
}

.sidebarContainer {
  width: 70px;
  background-color: #202c33;
  border-right: 1px solid #2f3b43;
}

.chatListContainer {
  width: 400px;
  background-color: #111b21;
  border-right: 1px solid #2f3b43;
}

.chatWindowContainer {
  flex: 1;
  background-color: #222e35;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden; // prevents scrollbars from double appearing
}


.placeholder {
  @include Flex(column, center, center);
  img {
    width: 180px;
    margin-bottom: 1rem;
    opacity: 0.9;
  }

  h2 {
    @include Text(1.6rem, #e9edef);
    margin-bottom: 0.3rem;
  }

  p {
    @include Text(0.9rem, #8696a0);
    margin-bottom: 1.5rem;
  }

  .downloadBtn {
    background-color: #00a884;
    border: none;
    color: white;
    padding: 0.6rem 1.4rem;
    border-radius: 999px;
    cursor: pointer;
    transition: background 0.3s;
    &:hover {
      background-color: #06cf9c;
    }
  }
}
