@use "../../styles/mixin" as *;

.navbar {
  @include Flex(row, flex-start, center);
  // width: 100%;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 50;
  
  

  @media (max-width: 600px) {
    padding: 0.8rem 1rem;
  }
}

.logoContainer {
  @include Flex(row, flex-start, center);
  gap: 0.5rem;
}

.logo {
  @include Image(40px, 40px);
}

.logoText {
  @include Text(1.2rem, #4f46e5);
  font-weight: 700;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}
