@use "../../styles/mixin" as *;

.sidebar {
  @include Flex(column, space-between, center);
  background-color: #202c33;
  height: 90%;
  width: 70px;
  padding: 1rem 0;
  border-right: 1px solid #2f3b43;
  position: relative;
}

.logo {
  .logoIcon {
    font-size: 1.5rem;
    color: #00a884;
  }
}

.nav {
  @include Flex(column, center, center);
  gap: 1.8rem;
  margin-top: 1.5rem;
  flex: 1;
  width: 100%;
}

.iconWrapper {
  position: relative;
  color: #aebac1;
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #00a884;

    .tooltip {
      opacity: 1;
      transform: translateX(10px);
      visibility: visible;
    }
  }

  .tooltip {
    @include Text(0.75rem, #fff);
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%) translateX(-5px);
    background-color: #111b21;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    white-space: nowrap;
    pointer-events: none;
  }
}

.profile {
  img {
    @include Image(40px, 40px);
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;

    &:hover {
      border-color: #00a884;
    }
  }
}
